
<tr>
  <td >
      {{input value=model.copy.identity class="ui input"}}

      <button {{action "save" model}} class="ui button green ">Enregistrer</button>

    <button {{action "cancel" model}} class="ui button red ">Retour</button>


  </td>
<td>

</td>
  <td>

  </td>
</tr>


