
<tr>
  <td >
    <span>Voulez-vous vraiment supprimer le projet <strong>{{model.copy.name}}</strong> ?    </span>

    <button {{action "delete" model}} class="ui button red ">Supprimer</button>

    <button {{action "cancel"}} class="ui button info ">Annuler</button>


  </td>
  <td>

  </td>
  <td>

  </td>
</tr>


